/*styles for artMovement index*/

header {
	width:100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    background: #816C34;
    padding: 1em;
    /* margin: 5em; */
}
    
header a {
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
     color: white;
}

}
nav a {
/*      text-align: right; */
     text-decoration: none;
     color: white;
}

nav a :hover {
     color: gold;
    /*  border-left: solid 1em gold; */
     /* border-bottom: dotted .25em blue; */
}

nav ul {
	margin:2em;
	padding:0;
}
nav li {
display: inline;
margin:2em;

}
header h2 {
     font-family: 'Montserrat', sans-serif;
     color: white;
     text-align: left;
     font-size: 30px;
     font-weight: 800;
}

h1{
     font-family: 'Montserrat', sans-serif;
     color: #816C34;
     text-align: center;
}
     
footer {
   font-family: 'Montserrat', sans-serif; 400;
   background-color: #816C34;
   color: white;
   text-align: center;
   padding: 1em;
}

footer a {
   text-decoration: none;
}

.social{
    width: 2em;
    margin: 1em;
    margin-top: 2em;
}

.selected {
    font-style: bold;
    color: greens;
}

.image {
    width: 100%;  /*50vh; means 0-100 viewpoint high*/
    max-width: 1000px;
/* end responsive properties*/
    display: block;
    margin: auto; 
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: red;
}
.flexChildren {
    margin: 1em;
    width: 300px;   
    display: left;
}
/* 
.backgroundimage {
     background-image: url("pictures/The Kiss_Gustav Klimt.jpg");
}
 */
